<!DOCTYPE html>
<html lang="en">
<head>
   <title>Rwanda Tech Guide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if @user %>
        <meta name="user-slug" content="<%= @user.slug %>">
    <% end %>
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'app' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
</body>
</html>
