<!DOCTYPE html>
<html lang="en">
<head>
   <title>Rwanda Tech Guide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="user-slug" content="<%= @user.slug %>">
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'app' %>
    <script src="https://kit.fontawesome.com/9378dbb6ae.js" crossorigin="anonymous"></script>
</head>
<body>
</body>
</html>
